<div class="search">
  <form>
    <input type="text" #result placeholder="Enter a Title">
    <button (click)="result.value = searched(result.value, hobbiesList)" type="reset">Search</button>
  </form>

    <div [ngClass]="{'true': result.value == 'There is a card with that title.', 'false': result.value == 'There is no card with that title.'}" [innerHTML]="result.value"></div>
</div>
<div class="filteredID">
  <input type="number" #num placeholder="Enter a Hobbie ID" required min="0" [max]="hobbiesList.length - 1">
  <button (click)="getAHobbie(num.value)">Filter</button>
</div>

<div class="messages">
  <app-messages>
  </app-messages>
</div>

<div class="modify">
  <app-modify-content (newHobbyEvent)="addNewHobby($event)" (updateHobbyEvent)="updateHobby($event)">
  </app-modify-content>
</div>

<div class="hobbieID" *ngIf="filteredHobby.length > 0">
  <app-content-list *ngFor="let item of (filteredHobby); index as i; first as isLone;" [class.isLone]="isLone" [hobbyItem]="item">
  </app-content-list>
</div>

<div class="contain no-type" *ngIf="hobbiesList.length > 0">
    <app-content-list *ngFor="let item of (hobbiesList | filterContent); index as i; first as isFirst;"
                      [hobbyItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>

<div class="contain outdoor" *ngIf="hobbiesList.length > 0">
    <app-content-list *ngFor="let item of (hobbiesList | filterContent: 'Outdoor'); index as i; first as isFirst;"
                      [hobbyItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>

<div class="contain indoor" *ngIf="hobbiesList.length > 0">
    <app-content-list *ngFor="let item of (hobbiesList | filterContent: 'Indoor'); index as i; first as isFirst;"
                      [hobbyItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>
