<div class="create">
    <app-create-content (newHobbyEvent)="addHobbyToList($event)"></app-create-content>
    <div *ngIf="failureMsg != ''" [innerHTML]="failureMsg" class="failure"></div>
</div>

<div class="search">
    <input type="text" #result>
    <button (click)="result.value = searched(result.value, contentList)">Search</button>
    <div [ngClass]="{'true': result.value == 'There is a card with that title.', 'false': result.value == 'There is no card with that title.'}" [innerHTML]="result.value"></div>
</div>

<div class="contain no-type">
    <app-content-list *ngFor="let item of (contentList | filterContent); index as i; first as isFirst;" [contentItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>

<div class="contain outdoor">
    <app-content-list *ngFor="let item of (contentList | filterContent: 'Outdoor'); index as i; first as isFirst;" [contentItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>

<div class="contain indoor">
    <app-content-list *ngFor="let item of (contentList | filterContent: 'Indoor'); index as i; first as isFirst;" [contentItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>