:host{
    display: flex;
    flex-direction: column;

    input{
        width: 15%;
        padding: 10px;
        margin: 10px;
    }

    button{
        font-weight: bold;
        outline: none;
        border: 1px solid transparent;
        border-radius: 5px;
        background: rgba(0,255,0,.5);
        padding: 10px;
        margin: 10px 0;
        cursor: pointer;
    }

    div.contain{
        display: flex;
        flex-direction: row;
    }

    div.contain.no-type{
        color: orange;
        padding: 5px;
        background-color: rgba(1,1,1,.8);
        border: 3px solid orange;
        border-radius: 10px;
    }

    div.contain.outdoor{
        margin: 5px 0;
        padding: 5px;
        background-color: rgba(60, 179, 113, .85);
        border: 3px solid black;
        border-radius: 10px;
    }

    div.contain.indoor{
        margin: 5px 0;
        padding: 5px;
        background-color: rgba(255, 0, 0, .5);
        border: 3px solid black;
        border-radius: 10px;
    }

    .false{
        padding: 5px;
        margin: 10px;
        margin-top: 0;
        border: 1px solid red;
        border-radius: 10px;
        width: 20%;
        color: red;
        text-align: center;
    }

    .true{
        padding: 5px;
        margin: 10px;
        margin-top: 0;
        border: 1px solid green;
        border-radius: 10px;
        width: 20%;
        color: green;
        text-align: center;
    }

    .failure{
        color: red;
        font-weight: bold;
    }
}



