<div class="search">
    <input type="text" #result placeholder="Enter a Title">
    <button (click)="result.value = searched(result.value, hobbiesList)">Search</button>
    <div [ngClass]="{'true': result.value == 'There is a card with that title.', 'false': result.value == 'There is no card with that title.'}" [innerHTML]="result.value"></div>
</div>
<div class="filteredID">
  <input type="number" #num placeholder="Enter a Hobbie ID" required min="0" [max]="hobbiesList.length - 1">
  <button (click)="getAHobbie(num.value)">Filter</button>
</div>

<div class="messages">
  <app-messages>
  </app-messages>
</div>

<div class="hobbieID" *ngIf="filteredHobbie.length">
  <app-content-list *ngFor="let item of (filteredHobbie); index as i; first as isLone;" [hobbieItem]="item" [class.isLone]="isLone">
  </app-content-list>
</div>

<div class="contain no-type">
    <app-content-list *ngFor="let item of (hobbiesList | filterContent); index as i; first as isFirst;" [hobbieItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>

<div class="contain outdoor">
    <app-content-list *ngFor="let item of (hobbiesList | filterContent: 'Outdoor'); index as i; first as isFirst;" [hobbieItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>

<div class="contain indoor">
    <app-content-list *ngFor="let item of (hobbiesList | filterContent: 'Indoor'); index as i; first as isFirst;" [hobbieItem]="item" [class.isFirst]="isFirst">
    </app-content-list>
</div>
