:host {
  display: block;
  width: 75%;
  margin: 1em 1em;
  text-align: center;
  background: rgba(60, 179, 113, 1);
  border-radius: 10px;

  .message {
    padding: 10px;
  }

  .message h2 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .message div {
    padding: 2px;
  }
}